.foot1 {
    @apply bg-black p-5 w-[15%] z-[1] h-fit bottom-2 absolute rounded-[100px] ml-[42.5%]  mr-[42.5%];
}

.foot2 {
    display: block;
    /* width: 15% */
}

.foot3 {
    @apply flex items-center justify-center transition duration-300 ease-in-out opacity-40 hover:opacity-100 cursor-pointer;
}

.footicon2 {
    /* background-image: url("../assets/twitter.svg"); */
    @apply cursor-pointer;
}

.footicon1 {
    background-image: url("../assets/twitter.svg");
    @apply h-[25px] w-[25px] bg-no-repeat bg-contain;
}


/* @media screen and (max-width: 1280px) and (max-height: 800px) {
    .foot1 {
        @apply bg-black p-5 w-[15%] z-[1] h-fit bottom-2 absolute rounded-[100px] left-[550px];
    }
}*/

@media (max-width: 768px) {
    /* .foot1 {
        display: none;
    }    */
    .foot1 {
        @apply bg-black p-5 w-[50%] z-[1] h-fit bottom-2 relative rounded-[100px] ml-[25%]  mr-[25%] mt-16;
    }
}
