.footermain {
  @apply relative;
}

.foot {
  @apply h-16;
}

.footfoot {
  @apply flex items-center justify-center w-[100%] mt-14 mb-4;
}

.footNew {
  @apply flex items-center justify-center w-[100%] mt-14 mb-14 bg-white rounded-md px-4 py-2;
}

.footfoot2 {
  @apply flex items-center justify-center w-[100%] mt-0 bottom-5 absolute;
}

.foot1 {
  @apply bg-black p-5 w-[15%] z-[1] h-fit bottom-2 absolute rounded-[100px] ml-[42.5%]  mr-[42.5%];
}

.foot2 {
  display: block;
  /* width: 15% */
}

.foot3 {
  @apply flex items-center justify-center transition duration-300 ease-in-out opacity-40 hover:opacity-100 cursor-pointer;
}

.footicon2 {
  /* background-image: url("../assets/twitter.svg"); */
  @apply cursor-pointer;
}

.footicon1 {
  background-image: url("/assets/twitter3.svg");
  @apply h-[25px] w-[25px] bg-no-repeat bg-contain transition duration-300 ease-in-out opacity-100 hover:opacity-40 cursor-pointer;
}
.footicon11 {
  background-image: url("/assets/telegram.svg");
  @apply h-[28px] w-[28px] bg-no-repeat bg-contain transition duration-300 ease-in-out opacity-100 hover:opacity-40 cursor-pointer;
}

.pumpicon {
  background-image: url("/assets/pump.svg");
  @apply h-[28px] w-[28px] bg-no-repeat bg-contain transition duration-300 ease-in-out opacity-100 hover:opacity-40 cursor-pointer;
}

.dexicon {
  background-image: url("/assets/dex.svg");
  @apply h-[28px] w-[28px] bg-no-repeat bg-contain transition duration-300 ease-in-out opacity-100 hover:opacity-40 cursor-pointer;
}

.ptag {
  font-family: "Jersey 10", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
}

.footNew2 {
  display: none;
}

.tooltip {
  position: absolute;
  top: -25px; /* Position it above the text */
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0.8;
  z-index: 10;
  animation: fade-in-out 2s forwards;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* @media screen and (max-width: 1280px) and (max-height: 800px) {
    .foot1 {
        @apply bg-black p-5 w-[15%] z-[1] h-fit bottom-2 absolute rounded-[100px] left-[550px];
    }
}*/


.atag22 {
  box-shadow: 0px 7px 0px black;
  @apply w-fit ml-auto mr-auto bg-white rounded-md px-5 py-4;
}

.atag222 {
    @apply flex gap-x-1 justify-center align-middle;
    font-family: "Jersey 10", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

@media (max-width: 768px) {
  /* .foot1 {
        display: none;
    }    */
  .foot1 {
    @apply bg-black p-5 w-[50%] z-[1] h-fit bottom-2 relative rounded-[100px] ml-[25%]  mr-[25%] mt-16;
  }
  .footNew {
    display: none;
  }
  .footNew2 {
    @apply flex items-center justify-center w-[95%] ml-[2.5%] mr-[2.5%] mt-14 mb-4 bg-white rounded-md px-4 py-2;
  }
  .ptag2 {
    font-family: "Jersey 10", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
  }
}
