@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    background-color: #00fe2a;
} */

/* body {
  background-image: url("/assets/background2.webp");
  background-size: cover;
  background-repeat: no-repeat;
} */

* {
  font-family: "Jersey 10", sans-serif;
}

/* body {
    background-image: 
        url('/christmas/ground4.png'),
        url('/christmas/snowsparkles.png'),
        url('/assets/background2.jpg');
    background-size: cover, cover, cover;
    background-repeat: no-repeat, repeat, no-repeat;
    background-position: center, top, center;
    animation: snowfall 100s linear infinite;
    background-attachment: scroll, scroll, fixed;
}

@keyframes snowfall {
    from {
        background-position: center, bottom, center;
    }
    to {
        background-position: center, top, center;
    }
} */

/* body {
    background-image: 
        url('/christmas/snowsparkles.png'),
        url('./assets/background2.jpg');
    background-size: cover, cover;
    background-repeat: repeat, no-repeat;
    background-position: top, center;
    animation: snowfall 100s linear infinite;
    background-attachment: scroll, fixed;
}

@keyframes snowfall {
    from {
        background-position: bottom, center;
    }
    to {
        background-position: top, center;
    }
} */

@media screen and (max-width: 1280px) and (max-height: 800px) {
  body {
    background-image: url("/assets/macbg2.webp");
    background-size: contain;
    background-repeat: repeat;
  }

  /* body {
        background-image: 
            url('/christmas/macground3.png'),
            url('/christmas/macsnow.png'),
            url('/assets/macbg2.jpg');
        background-size: cover, cover, cover;
        background-repeat: no-repeat, repeat, no-repeat;
        background-position: center, top, center;
        animation: snowfall 100s linear infinite;
        background-attachment: scroll, scroll, fixed;
    }
    
    @keyframes snowfall {
        from {
            background-position: center, bottom, center;
        }
        to {
            background-position: center, top, center;
        }
    } */
}

@media (max-width: 768px) {
  body {
    background-image: none;
    background-color: #5600ff;
    /* background-image: url("/assets/mobilebg2.webp");
    background-size: auto;
    background-repeat: repeat; */
  }

  /* body {
        background-image: 
            url('/christmas/mobileground2.png'),
            url('/christmas/mobilesnow.png'),
            url('/assets/mobilebg2.jpg');
        background-size: cover, cover, cover;
        background-repeat: no-repeat, repeat, no-repeat;
        background-position: center, top, center;
        animation: snowfall 100s linear infinite;
        background-attachment: scroll, scroll, fixed;
    }
    
    @keyframes snowfall {
        from {
            background-position: center, bottom, center;
        }
        to {
            background-position: center, top, center;
        }
    } */
}
